.folder {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-default);
  border: 1px solid #fff1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;

  transition:
    box-shadow 0.2s,
    border-color 0.2s;
}

.container {
  max-height: 80vh;

  overflow-y: auto;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.folder.dragged {
  border-color: #fff8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
